@using CsProjeDemo1.Entities.Abstraction

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-8">
        <div class="card p-2">
            <table>
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Kitap Adı</th>
                        <th>Yazar Adı</th>
                        <th>Durum</th>
                        <th>Emanet Alan</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Kitaplar != null)
                    {
                        @foreach (var k in (List<Kitap>)ViewBag.Kitaplar)
                        {
                            <tr>
                                <td>@k.ISBN</td>
                                <td>@k.Baslik</td>
                                <td>@k.Yazar</td>
                                <td>@k.Durum</td>
                                <td>
                                    @k.UyeId
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-isbn="@k.ISBN" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Launch demo modal
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputNo">Üye No</label>
                    <input type="text" name="uyeNo" class="form-control" id="exampleInputNo" placeholder="Üye No">
                </div>
                <div class="form-group">
                    <label for="exampleInputAd">Üye İsim</label>
                    <input type="text" name="ad" class="form-control" id="exampleInputAd" placeholder="Üye İsim">
                </div>
                <div class="form-group">
                    <label for="exampleInputSoyAd">Üye Soyisim</label>
                    <input type="text" name="soyad" class="form-control" id="exampleInputSoyAd" placeholder="Üye Soyisim">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/Home/OduncAl">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ödünç Al</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="create_isbn" class="form-control" id="create_isbn">
                    <input type="number" name="create_uyeno" class="form-control" id="create_uyeno" placeholder="Üye No">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var isbn = button.getAttribute('data-bs-isbn')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalBodyInput = exampleModal.querySelector('#create_isbn')

        modalBodyInput.value = isbn
    })
</script>